nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 5px;
  background-color: #01345B;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  position: fixed;
  top: 0;
  z-index: 1000;
}
nav .navbar-left, nav .navbar-right {
  display: flex;
  align-items: center;
}
nav .navbar-left a, nav .navbar-right a {
  margin: 0px 15px;
  text-decoration: none !important;
  color: white;
}
nav .navbar-left .acitve, nav .navbar-right .acitve {
  border-bottom: 4px solid #FFCF43;
}
nav .navbar-left :hover, nav .navbar-right :hover {
  border-bottom: 4px solid #FFCF43;
}

body {
  margin: 0;
  padding: 0;
  font-family: system-ui;
}

.container {
  width: 100%;
}