nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 5px;
  background-color: #01345B;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
  position: fixed;
  top: 0;
  z-index: 1000;
}
nav .navbar-left, nav .navbar-right {
  display: flex;
  align-items: center;
}
nav .navbar-left a, nav .navbar-right a {
  margin: 0px 15px;
  text-decoration: none !important;
  color: white;
}
nav .navbar-left .acitve, nav .navbar-right .acitve {
  border-bottom: 4px solid #FFCF43;
}
nav .navbar-left :hover, nav .navbar-right :hover {
  border-bottom: 4px solid #FFCF43;
}

button {
  background-color: white;
  color: #01345B;
  border: 2px solid #01345B;
  padding: 10px 15px;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #01345B;
  color: white;
  border: 2px solid white;
}

.footer {
  color: white;
  display: flex;
  justify-content: space-around;
  background-color: #01345B;
  padding: 10px 5px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}
.footer .footer-left .text {
  margin-left: 30px;
}
.footer .footer-center ul {
  margin-left: -45px;
}
.footer .footer-center ul li {
  list-style: none;
  margin: 8px;
}
.footer .footer-center ul li a {
  text-decoration: none;
  color: white;
}
.footer .footer-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer .footer-right img {
  margin: 10px 5px;
}
.footer .footer-right .search {
  display: flex;
  background-color: white;
  align-items: center;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.footer .footer-right .search input {
  padding: 7px;
  width: 100%;
  border-radius: 5px;
  border: none;
  outline: none;
}
.footer .footer-right .search i {
  color: grey;
}

.list-1 {
  display: flex;
  justify-content: space-evenly;
}
.list-1 .card {
  background-color: hsl(206deg, 98%, 18%);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
  padding: 15px;
  border-radius: 10px;
  color: white;
}
.list-1 .card img {
  border-radius: 10px;
}
.list-1 .card .text-card .sub-text {
  display: flex;
  justify-content: space-between;
}
.list-1 .card:hover {
  transform: translate(-10px, -10px);
}

body {
  margin: 0;
  padding: 0;
  font-family: system-ui;
}

.container {
  width: 100%;
}
.container .header {
  color: white;
  background: url(../../img/Mi-Notebook-Pro-X-15-1024x638-1024x638.jpg) no-repeat center;
  background-size: cover;
  height: 400px;
}
.container .header .text-header {
  position: relative;
  top: 37%;
  left: -32%;
  text-align: center;
}
.container .header .text-header h1 span {
  color: #FFCF43;
}
.container .header .text-header .search {
  display: flex;
  align-items: center;
  position: relative;
  left: 35%;
  color: grey;
  background-color: white;
  width: 30%;
  border-radius: 5px;
  overflow: hidden;
}
.container .header .text-header .search input {
  padding: 7px;
  width: 100%;
  border-radius: 5px;
  border: none;
  outline: none;
}
.container .popular-brand {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0px 100px 0px;
}
.container .popular-brand h1 {
  color: #01345B;
}
.container .popular-brand .list-brand {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.container .popular-brand .list-brand .show-img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.container .popular-brand .list-brand .show-img img {
  width: 100%;
  height: 100%;
}
.container .popular-brand .list-brand .show-img h1 {
  position: absolute;
  color: white;
}
.container .list-item {
  display: flex;
  flex-direction: column;
}
.container .list-item .detail {
  display: flex;
  margin: 0px 0px;
}
.container .list-item .detail img {
  width: 800px;
  position: relative;
}
.container .list-item .detail .info {
  display: flex;
  flex-direction: column;
  background-color: #01345B;
}
.container .list-item .detail .info h1 {
  margin-left: 45%;
  color: #FFCF43;
}
.container .list-item .detail .info p {
  margin-left: 10%;
  color: white;
}
.container .list-item .detail .info button {
  margin-left: auto;
  margin-right: 30px;
  margin: 20% 7% 30% auto;
}

.container-upload {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.container-upload .contain {
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container-upload .contain .head {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container-upload .contain table {
  width: 90%;
  border-collapse: collapse;
}
.container-upload .contain table th,
.container-upload .contain table td {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
  padding: 0px 35px;
}
.container-upload .contain table img {
  width: 25px;
  margin: 0px 5px;
}
.container-upload .content-dialog {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 10;
}
.container-upload .content-dialog dialog {
  position: fixed;
  top: 20%;
  left: 20%;
  width: 60%;
  z-index: 100;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  padding: 30px;
  margin: 0;
  overflow: hidden;
}
.container-upload .content-dialog header {
  font-weight: bold;
  font-size: 25px;
}
.container-upload .content-dialog form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container-upload .content-dialog form input {
  padding: 7px;
  width: 100%;
  border-radius: 5px;
  width: 80%;
}
.container-upload .content-dialog form .data {
  display: flex;
}
.container-upload .content-dialog form .data section {
  display: flex;
  flex-direction: column;
}
.container-upload .content-dialog form .data section select {
  padding: 7px;
  width: 100%;
  border-radius: 5px;
  width: 90%;
  padding: 8px;
}
.container-upload .content-dialog form .data section textarea {
  width: 545px;
  height: 195px;
  resize: none;
  border-radius: 5px;
}
.container-upload .content-dialog form .img {
  text-align: center;
  padding: 3%;
  border: thin solid black;
  margin-top: 10px;
  width: 93%;
  border-radius: 5px;
}
.container-upload .content-dialog form .img #image {
  cursor: pointer;
}
.container-upload .content-dialog form .img input[type=file] {
  display: none;
}
.container-upload .content-dialog menu {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-left: -45px;
}
.container-upload .content-dialog menu button {
  margin-left: 30px;
}